* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 0;
}

:root {
    --primary-color: rgba(69, 69, 69, 0.814);
    --secondary-color: #fcfcfab9;
    --terciary-color: #edecec;
    --sidebar-width: 20%;
    --row-height: 48%;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--terciary-color);
    text-align: left;
}
.sidebar {
    background-color: var(--primary-color);
    height: 100%;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebar h1 {
    display: flex;
    font-size: 3rem;
    font-weight: 900;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    opacity: 100%;
    letter-spacing: 0.1rem;
    justify-content: center;
}
.header {
    display: none;
}
.sidebar p {
    opacity: 50%;
    display: flex;
}

.dash_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-sizing: border-box;
}

.content {
    background-color: #ffffff;
    height: 100%;
    width: calc(100% - var(--sidebar-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 3rem; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.first_row > div {
    width: 50%;
    height: 100%;
}

.second_row > div {
    width: 100%;
    height: 100%;
}

.grafico {
    width: 100%;
    height: 100%;
    margin: auto;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
}

.first_row {
    width: 100%;
    height: var(--row-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.second_row {
    width: 100%;
    height: var(--row-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: end;
}

.graph {
    width: 100%;
    height: 100%;
    margin: auto;
}

@media screen and (min-width: 1366px) and (max-width: 1366px) {
    .sidebar h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 390px) and (max-width: 1366px) {
    .sidebar {
        display: none;
    }

    .first_row {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
    }
    .first_row > div {
        width: 100vw;
    }
    .second_row > div {
        width: 100vw;
    }
    .second_row {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100vh;
    }
    .graph {
        height: 100%;
    }
    .header {
        display: flex;
        background-color: var(--primary-color);
        width: 100%;
        margin-top: 10%;
        padding: 3% 3% 0 3%;
        justify-content: center;
    }
    .dash_container {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}
